# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/

# Static file dirs
staticfiles/

# Virtual env
venv/
env/
ENV/
.eaglespace/
*.env

# macOS
.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/

# Migrations (opsiyonel)
**/migrations/

db.sqlite3

